# --------------------------------
# Dependencias y builds de Node
# --------------------------------
/node_modules/
/npm-debug.log
/yarn-error.log
/pnpm-lock.yaml
/velzon
package-lock.json

# Vite build

# --------------------------------
# Composer / PHP
# --------------------------------
/vendor/
/composer.lock

# --------------------------------
# Laravel
# --------------------------------
/bootstrap/cache/*
!bootstrap/cache/.gitignore

/storage/*
!storage/.gitignore
/public/storage
/public/build
/public/hot

.env
.env.*
.phpunit.result.cache

# --------------------------------
# IDEs / SO
# --------------------------------
.idea/
.vscode/
.DS_Store
Thumbs.db

# --------------------------------
# Varias cosas que no quieres
# --------------------------------
*.log
*.cache

/.amazonq
/.cursor

laravel11_admin.sublime-project
laravel11_admin.sublime-workspace

